.tabs-item-container{
    width: 100%;
    padding-left: 5rem;
    border-radius: 2px;
    transition: all .2s;
    transform-origin: top;
    cursor: pointer;
   }
   .active {
    border-left: 3px solid rgb(228, 146, 245);
    .tabs-item {
        color: rgb(240,196,248) !important;

    }

}

.tabs-item {
    cursor: pointer !important;
}